.header-accueil {
    width: 100%;
}

.header-accueil img{
    width: 100%;
}

.sports-icones-container {
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
}


.sports-liste {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sports-liste::-webkit-scrollbar {
    display: none;
}

.sport-link {
    text-decoration: none;
}

.sport-item {
    flex: 0 0 auto;
    text-align: center;
    min-width: 64px;
    text-align: center;
    margin: 8px 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sport-item:hover {
    transform: scale(1.1);
}

.sport-item img {
    width: 50px; 
    height: 50px;
}

.sport-item span {
    display: block;
    font-size: 14px;
    color: #0913B1;
}