.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}
  
.nav-links li {
    margin-left: 20px;
    color: #0913B1;
}
  
.nav-links a, .nav-links .btn {
    color: #0913B1;
    text-decoration: none;
    padding: 10px 20px;
}
  
.nav-links a.active {
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: inset 0 -3px 0 0 #0913B1;
}
  
.bouton-devenir-benevole {
    color: white;
    background-color: #FF6D6F;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

.burger {
    display: none;
    cursor: pointer;
}
  
.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

  

@media (max-width: 768px) {
    .menu {
        display: flex;
        align-items: center;
    }

    .nav-links {
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
  
    .nav-links.open {
      transform: translateX(0%);
    }
  
    .nav-links li {
      margin: 50px 0;
    }
  
    .burger {
      display: block;
      margin-top: 16px;
    }

    .burger div {
        width: 25px; 
        height: 3.5px;
        background-color: #0913B1;
    }
}
  